{% extends 'main.html.twig' %}
{% block title %}
    <title>Продукт</title>
{% endblock %}
{% block table %}

<div>
    <td>{{ product.name }}</td>
    <br>
    <td>{{ product.price }}</td>
    <br>
    <td>{{ product.season }}</td>
</div>

{% endblock %}